<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/claimrequest.css">

    <title>Member Claim Request</title>
    <script th:inline="javascript">
        var fetchFirstNameUrl = /*[[@{/fetchFirstName}]]*/;
        var fetchLastNameUrl = /*[[@{/fetchLastName}]]*/;
        var fetchNomineeCountUrl = /*[[@{/fetchNomineeCount}]]*/;
        var fetchMaxClaimAmountUrl = /*[[@{/fetchMaxClaimAmount}]]*/;
        var fetchInsuranceTypeUrl = /*[[@{/fetchInsuranceType}]]*/;
        var fetchFinalClaimAmountUrl = /*[[@{/fetchFinalClaimAmount}]]*/;
    </script>

    <!-- Include external JavaScript file -->
    <script th:src="@{/js/claimrequest.js}"></script>
</head>
<body>
<div class="container">
    <h1>
        Member Claim Request
    </h1>

    <form th:action="@{/submitForm}" th:object="${listForm}" method="POST">

        <select name="memberId" id="memberId">
            <option th:each="memberId : ${list}" th:text="${memberId}" th:value="${memberId}"
            />
        </select>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="firstName" readonly/>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="lastName" readonly/>

        <label for="nominee_count">Nominee Count:</label>
        <input type="text" id="nominee_count" name="nominee_count" readonly/>

        <label for="max_claim_amount">Maximum Claim Amount:</label>
        <input type="text" id="max_claim_amount" name="max_claim_amount" readonly/>

        <label for="insurance_type">Insurance Type:</label>
        <input type="text" id="insurance_type" name="insuranceType" readonly />

        <label for="request_date">Request Date:</label>
        <input type="date" id="request_date" name="requestDate" required />

        <label for="claim_reason">Claim Reason:</label>
        <input type="text" id="claim_reason" name="claimReason" required />

        <label for="final_claim_amount">Final Claim Amount:</label>
        <input type="text" id="final_claim_amount" name="finalClaimAmount" readonly />
        <!--

        <label for="approval_status">Approval Status:</label>
        <input type="checkbox" id="approval_status" name="approvalStatus" required />

        <label for="approval_date">Approval Date:</label>
        <input type="date" id="approval_date" name="approvalDate" required />

        <label for="reject_reason">Reject Reason:</label>
        <input type="text" id="reject_reason" name="rejectReason" required />
        -->
        <input type="submit" value="SUBMIT" />
    </form>
</div>
</body>

</html>