<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dashboard</title>

    <link rel="stylesheet" href="css/dashboard.css" />

</head>

<body>

<div class="container">

    <div class="navbar">

        <h2>Groww</h2>

        <nav>

            <ul>

                <li><a href="/">HOME</a></li>
                <li><a href="/register">REGISTER</a></li>


                <li><a href="/logout">LOGOUT</a></li>

            </ul>

        </nav>

    </div>

    <div class="row">

        <div class="col">

            <h1>Choose your claim</h1>

            <p>Here we help you update,search,claim and view your claim.Choose to know more</p>

        </div>

        <div class="col">

            <div class="card card1">

                <a href="http://localhost:61872/profile.html">
                    <h5>Profile Update</h5>
                </a>

                <p>Update your credentials</p>

            </div>

            <div class="card card2">

                <a href="http://localhost:49243/claimrequest.html ">
                    <h5>Claim Request</h5>
                </a>

                <p>Request for a new claim</p>

            </div>

            <div class="card card3">

                <a href="http://localhost:59803/sc2.html">
                    <h5>Search Claim</h5>
                </a>

                <p>Search and view your claims</p>

            </div>

            <div class="card card4">

                <a href="http://localhost:55953/claim%20process.html ">
                    <h5>Claim Process</h5>
                </a>

                <p>Process your claim here</p>

            </div>

        </div>

    </div>

</div>

</body>

</html>