<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Registration</title>
    <link rel="stylesheet" href="css/member_registration.css" />
</head>
<body>
<div class="container">
    <div class="title">Registration</div>
    <form th:action="@{/registerMember}" th:object="${register}" method="POST">
        <div class="user-details">
            <div class="input-field">
                <span class="details">Firstname</span>
                <input type="text" placeholder="Enter firstname" name="firstName" required />
            </div>

            <div class="input-field">
                <span class="details">Lastname</span>
                <input type="text" placeholder="Enter lastname" name="lastName" required />
            </div>

            <div class="input-field">
                <span class="details">Date of birth</span>
                <input type="date" placeholder="Enter birth date" name="dateOfBirth" required />
            </div>

            <div class="input-field">
                <span class="details">Address</span>
                <input type="text" placeholder="Enter address" name="address" required />
            </div>

            <div class="input-field">
                <span class="details">Contact Number</span>
                <input type="number" placeholder="Enter contact number" name="contactNo" required />
            </div>

            <div class="input-field">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" name="email" required />
            </div>

            <div class="input-field">
                <span class="details">Nominee Count</span>
                <input type="number" placeholder="Enter nominee count" min="1" max="3" name="nomineeCount" required />
            </div>

            <div class="input-field">
                <span class="details" style="padding-bottom:5px;">Insurance Type</span>
                <select id="insuranceType" class="details" required>
                    <option value="">Select Insurance Type</option>
                    <option value="Vehicle">Vehicle Insurance</option>
                    <option value="Home">Home Insurance</option>
                    <option value="Life">Life Insurance</option>
                </select>
            </div>


            <div class="input-field">
                <span class="details">Insured Amount</span>
                <input type="number" name=""  />
            </div>

            <div class="input-field">
                <span class="details">Maximum Claimable Amount</span>
                <input type="number" name="maxClaimAmount" />
            </div>
        </div>
        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Gender</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
                <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="gender">Other</span>
                </label>
            </div>
        </div>
        <div class="button">
            <input type="submit" value="Register" />
        </div>
    </form>
</div>

</body>
</html>