<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Registration</title>
    <link rel="stylesheet" href="css/member_registration.css" />

    <script th:inline="javascript">
        var fetchInsuranceAmountUrl = /*[[@{/fetchInsuranceAmount}]]*/;
        var fetchMaxClaimAmountUrl = /*[[@{/fetchMaxClaimAmountForMemberRegistration}]]*/;
    </script>

    <!-- Include external JavaScript file -->
    <script th:src="@{/js/member_registration.js}"></script>
</head>
<body>
<div class="container">
    <div class="title">Registration</div>
    <form th:action="@{/registerMember}" th:object="${register}" method="POST">
        <div class="user-details">
            <div class="input-field">
                <span class="details">Firstname</span>
                <input type="text" placeholder="Enter firstname" name="firstName" required />
            </div>

            <div class="input-field">
                <span class="details">Lastname</span>
                <input type="text" placeholder="Enter lastname" name="lastName" required />
            </div>

            <div class="input-field">
                <span class="details">Date of birth</span>
                <input type="date" placeholder="Enter birth date" name="dateOfBirth" required />
            </div>

            <div class="input-field">
                <span class="details">Address</span>
                <input type="text" placeholder="Enter address" name="address" required />
            </div>

            <div class="input-field">
                <span class="details">Contact Number</span>
                <input type="number" placeholder="Enter contact number" name="contactNo" required />
            </div>

            <div class="input-field">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email" name="email" required />
            </div>

            <div class="input-field">
                <span class="details" style="padding-bottom:5px;">Nominee Count</span>
                <select id="nomineeCount" class="details" name="nomineeCount" required>
                    <option disabled selected>Select Nominee Count</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>

            <div class="input-field">
                <span class="details" style="padding-bottom:5px;">Insurance Type</span>
                <select class="details" name="insuranceType" id="insuranceType">
                    <option th:each="insuranceType : ${insurances}" th:text="${insuranceType}" th:value="${insuranceType}"
                    />
                </select>
            </div>

            <div class="input-field">
                <span class="details">Insured Amount</span>
                <input type="text" id="insuranceAmount" name="insuranceAmount" readonly />
            </div>

            <div class="input-field">
                <span class="details">Maximum Claimable Amount</span>
                <input type="text" id="max_claim_amount" name="maxClaimAmount" readonly/>
            </div>
        </div>
        <!--<div class="gender-details">
            <input type="radio" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Gender</span>
            <div class="category">
                <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="gender">Male</span>
                </label>
                <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="gender">Female</span>
                </label>
                <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="gender">Other</span>
                </label>
            </div>
        </div>-->



        <div class="gender-details">
            <span class="details" style="padding-bottom:5px;">Gender</span>
            <select id="gender" class="details" name="gender" required>
                <option disabled selected>Select Gender</option>
                <option>MALE</option>
                <option>FEMALE</option>
                <option>OTHERS</option>
            </select>
        </div>

        <div class="button">
            <input type="submit" value="Register" />
        </div>
    </form>
</div>

</body>
</html>